.msg_entry_defocused {
  background-color: @theme_base_color;
  border-radius: 3px;
  border: 1px solid @borders;
  padding: 6px;
}

.msg_entry_focused {
  border: 2px solid @theme_selected_bg_color;
  padding: 5px;
}

.topic_no_edit {
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  transition: border-color 0.25s linear;
  transition: border-width 0.25s linear;
  background: @theme_base_color;
  border-color: alpha(@theme_fg_color, 0.25);
}

.topic_edit {
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  transition: border-color 0.25s linear;
  transition: border-width 0.25s linear;
  background: @theme_base_color;
  border-color: @theme_selected_bg_color;
}

.text_input {
  color: @theme_base_color;
}

.entry_hide {
  color: black;
  border-style: hidden;
  background: transparent;
}

.encrypt {
  color: @theme_selected_bg_color;
}

.unencrypt {
  color: grey;
}

.button_send_green {
  background: #6cba3d;
  border-color: #6cba3d;
  color: white;
  outline-color: rgba(255, 255, 255, 0.3);
  -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.543529);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4);
}

.box_message {
  background-color: @theme_base_color;
  border-bottom: 1px solid @borders;
}

.list_no_select:selected {
  background-color: @theme_base_color;
}

.list_select:selected {
  background-color: #c0bfbc;
}


/* MESSAGE LIST AND BUBBLES */
.message_list {
  color: black;
  background-color: @theme_base_color;
}

.message_bubble {
  font-size: 16px;
  color: black;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.bubble_white {
  background-color: white;
}

.bubble_blue {
  background-color: #e4f0fc;
}

.bubble_green {
  background-color: #e2fae7;
}

.bubble_purple {
  font-size: 14px;
  color: white;
  background-color: #862d86;
}

.label_disclaim {
  font-size: 16px;
  font-weight: bold;
  padding-top: 120px;
  padding-bottom: 20px;
}

.unread-badge {
  background-color: @theme_selected_bg_color;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 10px;
  min-width: 0.7em; 
  padding: 2px 5px;
}

row:selected .unread-badge {
  background-color: white;
  color: @theme_selected_bg_color;
}

.bold-label {
  font-weight: bold;
}
